---

# Install PhpStorm
- name: "PhpStorm | Download application in zip"
  become: false
  get_url: url=http://www.jetbrains.com/phpstorm/download/download_thanks.jsp?os=linux dest=/home/{{ user }}/phpstorm.tar.gz

- name: "PhpStorm | Unarchive application and move into folder /opt"
  unarchive: src=/home/{{ user }}/phpstorm.tar.gz dest=/opt/phpstorm
  ignore_errors: true

#
- name: Clone dotfile repo
  become: false
  git: repo=git@github.com:lesmyrmidons/dotfiles.git dest=/home/{{ user }}/.dotfiles update=yes

- name: Clone aws-cli alias
  become: false
  git: repo=https://github.com/awslabs/awscli-aliases.git dest=dest=/home/{{ user }}/.aws/cli update=yes
